<nav class="bg-blue-600 p-6 border-b-2 border-gray-400">
 <div class="max-w-7xl mx-auto px-8">
    
    <div class="flex justify-between">
      <div class="flex space-x-4 ">
        <!-- logo -->
        <div>
          <a href="#" class="flex items-center py-1 px-2 font-bold text-7xl text-white hover:text-gray-200">
            t
          </a>
        </div>
        <!-- primary nav -->
        <div class="hidden md:flex items-center space-x-1">
          <input href="#"class="py-2 px-3 text-gray-700 hover:text-gray-900" placeholder="Serach"/>
        </div>
      </div>
      
      <!-- secondary nav-->
        <div class="hidden md:flex items-center space-x-1">
         <a href="" class="py-5 px-3">Login</a>
         <a href="" class="py-2 px-3 bg-yellow-400 text-yellow-800 hover:bg-yellow-300 hover:text-yellow-800 rounded transition duration-300">Signup</a>
        </div>
      
      <!--  mobile button goes here  -->
      <div class="md:hidden flex items-center">
        <button class="mobile-menu-button">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
              <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-                          rule="evenodd"/>
            </svg>
          </button>
      </div>
    </div>
  </div>
</nav>